/* semantic-ui overrides */

/* override selectable padding */
.ui.table tbody tr td.selectable {
  padding: 1em;
}


.selectable-cell:hover {
  background-color: rgba(0, 0, 0, .05);
}
.locked-selectable-cell {
  background-color: rgba(0, 0, 0, 0.2);
}
.locked-selectable-cell:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.empty-cell {
  color: rgba(0, 0, 0, .1);
}


/* background: rgba(0,0,0,.05); */
